.industries1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -3px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.industriesWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 53px 0 var(--padding-36xl);
  box-sizing: border-box;
  max-width: 100%;
}
.innovatingTodayFor {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 400;
  font-family: var(--font-alliance-no1);
}
.industriesHeader,
.industriesTitle {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.industriesTitle {
  width: 434px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9px;
}
.industriesHeader {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 204px var(--padding-19xl);
  box-sizing: border-box;
}
.retail,
.revolutionizingRetailWith {
  margin: 0;
  position: relative;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.retail {
  width: 129px;
  height: 46px;
  font-size: inherit;
  letter-spacing: -2px;
  font-family: inherit;
  flex-shrink: 0;
}
.revolutionizingRetailWith {
  width: 312px;
  font-size: var(--font-size-xl);
  font-family: var(--font-alliance-no1);
}
.solutionCards {
  width: 388px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-1000);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-94xl) var(--padding-xl) var(--padding-94xl)
    var(--padding-19xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.health {
  margin: 0;
  width: 150px;
  position: relative;
  font-size: inherit;
  letter-spacing: -2px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.solutionCards1 {
  width: 388px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-1000);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-87xl) var(--padding-xl) var(--padding-94xl)
    var(--padding-19xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
}
.energy {
  margin: 0;
  width: 153px;
  position: relative;
  font-size: inherit;
  letter-spacing: -2px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.solutionCards2 {
  width: 388px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-1000);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-87xl) var(--padding-xl) 137px var(--padding-19xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
}
.finance,
.simplifyingFinanceDriving {
  margin: 0;
  position: relative;
  font-weight: 400;
}
.finance {
  width: 180px;
  font-size: inherit;
  letter-spacing: -2px;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.simplifyingFinanceDriving {
  font-size: var(--font-size-xl);
  line-height: 22.4px;
  font-family: var(--font-alliance-no1);
  display: inline-block;
  min-height: 48px;
}
.agriculture,
.defense,
.education,
.government,
.logistics {
  margin: 0;
  width: 193px;
  position: relative;
  font-size: inherit;
  letter-spacing: -2px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.agriculture,
.defense,
.education,
.government {
  width: 228px;
}
.agriculture,
.defense,
.government {
  width: 186px;
}
.agriculture,
.government {
  width: 237px;
}
.government {
  width: 276px;
}
.solutionExamples,
.solutions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.solutionExamples {
  width: 1212px;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 28px 22px;
  min-height: 1076px;
}
.solutions {
  padding: 0 0 95px var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-31xl);
}
.solutions1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 83px;
}
.janus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  gap: var(--gap-xl);
}
.company1 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.company {
  padding: 0 var(--padding-4xs) 0 0;
}
.company,
.industriesGrid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.sevnbytesLogoHorizontalInveIcon {
  width: 200px;
  height: 36.8px;
  position: relative;
  object-fit: cover;
}
.basilfacebookSolidIcon,
.primetwitterIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.primetwitterIcon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.social,
.twitter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.twitter {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.social {
  flex-direction: row;
  gap: var(--gap-xl);
}
.sevnbytesTechnologiesLlc {
  position: relative;
}
.footer {
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-base);
  font-family: var(--font-alliance-no1);
}
.solutionsGrid,
.solutionsGridContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.solutionsGridContent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.solutionsGrid {
  width: 1217.5px;
  justify-content: flex-start;
  padding: 0 var(--padding-22xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-alliance-no2);
}
.sevn,
.span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sevn {
  letter-spacing: 12px;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.15),
    rgba(153, 153, 153, 0.06)
  );
}
.span {
  letter-spacing: 15px;
  font-weight: 200;
  background: linear-gradient(
    90deg,
    rgba(203, 78, 40, 0.15),
    rgba(203, 78, 40, 0.15)
  );
}
.sevnbytesTxt {
  line-break: anywhere;
  width: 100%;
}
.sevnbytes {
  margin: 0;
  width: 1219px;
  height: 250px;
  position: relative;
  font-size: var(--font-size-173xl);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  font-family: var(--font-dm-sans);
}
.content,
.industriesHeaderParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.industriesHeaderParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  text-align: left;
  font-size: var(--font-size-56xl);
  color: var(--color-white);
  font-family: var(--font-alliance-no2);
}
.content {
  width: 1422px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.industries,
.industriesChild {
  position: relative;
  box-sizing: border-box;
}
.industriesChild {
  align-self: stretch;
  height: 4px;
  filter: blur(3.5px);
  border-top: 2px solid var(--color-crimson);
  display: none;
}
.industries {
  width: 100%;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 var(--padding-22xl);
  gap: 132px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .solutions {
    padding-bottom: var(--padding-43xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .industries1 {
    font-size: var(--font-size-41xl);
  }
  .agriculture,
  .defense,
  .education,
  .energy,
  .finance,
  .government,
  .health,
  .logistics,
  .retail {
    font-size: var(--font-size-21xl);
  }
  .solutionsGridContent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .sevnbytes {
    font-size: var(--font-size-58xl);
  }
}
@media screen and (max-width: 750px) {
  .solutions {
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
  }
  .industriesHeaderParent {
    gap: var(--gap-6xl);
  }
  .industries {
    gap: 66px;
  }
}
@media screen and (max-width: 450px) {
  .industries1 {
    font-size: var(--font-size-26xl);
  }
  .industriesWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .innovatingTodayFor {
    font-size: var(--font-size-lgi);
  }
  .retail {
    font-size: var(--font-size-11xl);
  }
  .revolutionizingRetailWith {
    font-size: var(--font-size-base);
  }
  .energy,
  .finance,
  .health {
    font-size: var(--font-size-11xl);
  }
  .simplifyingFinanceDriving {
    font-size: var(--font-size-base);
  }
  .agriculture,
  .defense,
  .education,
  .government,
  .logistics {
    font-size: var(--font-size-11xl);
  }
  .sevnbytes {
    font-size: var(--font-size-29xl);
  }
  .industries {
    gap: 33px;
  }
}
