.someBlocksHere {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.someBlocksHereNoAnimationWrapper {
  width: 602px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 119px 140px var(--padding-101xl);
  box-sizing: border-box;
  max-width: 100%;
}
.industries,
.industriesWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.industries {
  width: 1046px;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: var(--gap-21xl);
}
.industriesWrapper {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-xl) var(--padding-72xl);
  box-sizing: border-box;
}
.solutions1 {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  min-width: 83px;
}
.janusHR {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  gap: var(--gap-xl);
}
.company {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
}
.companyParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  gap: var(--gap-xl);
}
.industries1 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.industriesParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.sevnbytesLogoHorizontalInveIcon {
  width: 200px;
  height: 36.8px;
  position: relative;
  object-fit: cover;
}
.basilfacebookSolidIcon,
.primetwitterIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.primetwitterIcon {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.socialIcons,
.twitterWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.twitterWrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.socialIcons {
  flex-direction: row;
  gap: var(--gap-xl);
}
.sevnbytesTechnologiesLlc {
  position: relative;
}
.sevnbytesLogoHorizontalInveParent {
  width: 284px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-base);
  font-family: var(--font-alliance-no1);
}
.frameWrapper,
.janusHRParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.janusHRParent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-22xl);
  box-sizing: border-box;
}
.sevn,
.span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sevn {
  letter-spacing: 12px;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.15),
    rgba(153, 153, 153, 0.06)
  );
}
.span {
  letter-spacing: 15px;
  font-weight: 200;
  background: linear-gradient(
    90deg,
    rgba(203, 78, 40, 0.15),
    rgba(203, 78, 40, 0.15)
  );
}
.sevnbytesTxt {
  line-break: anywhere;
}
.sevnbytes {
  margin: 0;
  align-self: stretch;
  height: 250px;
  position: relative;
  font-size: var(--font-size-173xl);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-family: var(--font-dm-sans);
}
.frameParent,
.solutionsInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  width: 1218px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.solutionsInner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-alliance-no2);
}
.solutions,
.solutionsChild {
  position: relative;
  box-sizing: border-box;
}
.solutionsChild {
  align-self: stretch;
  height: 4px;
  filter: blur(3.5px);
  border-top: 2px solid var(--color-crimson);
  display: none;
}
.solutions {
  width: 100%;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 var(--padding-12xs);
  gap: 121px;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-alliance-no1);
}
@media screen and (max-width: 1100px) {
  .janusHRParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .sevnbytes {
    font-size: var(--font-size-58xl);
  }
}
@media screen and (max-width: 750px) {
  .someBlocksHereNoAnimationWrapper {
    padding-left: var(--padding-41xl);
    padding-right: 59px;
    box-sizing: border-box;
  }
  .industries {
    gap: var(--gap-xl);
  }
  .frameParent {
    gap: var(--gap-6xl);
  }
  .solutions {
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 450px) {
  .someBlocksHere {
    font-size: var(--font-size-lgi);
  }
  .someBlocksHereNoAnimationWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .sevnbytes {
    font-size: var(--font-size-29xl);
  }
  .solutions {
    gap: var(--gap-11xl);
  }
}