.janushr {
  height: 17px;
  width: 58px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.component51 {
  width: 84px;
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
  font-family: var(--font-alliance-no1);
}
