@import url("https://fonts.googleapis.com/css2?family=Alliance No1:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alliance No2:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM Sans:wght@200;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-dm-sans: "DM Sans";
  --font-alliance-no1: "Alliance No1";
  --font-alliance-no2: "Alliance No2";

  /* font sizes */
  --font-size-173xl: 192px;
  --font-size-29xl: 48px;
  --font-size-58xl: 77px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-lg: 18px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-15xl: 34px;
  --font-size-8xl: 27px;
  --font-size-56xl: 75px;
  --font-size-26xl: 45px;
  --font-size-41xl: 60px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;
  --font-size-mini: 15px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-black: #000;
  --color-crimson: #db202c;
  --color-white: #fff;
  --color-gray-100: #29292b;
  --color-gray-200: #29292a;
  --color-gray-700: #272727;
  --color-gray-800: #121212;
  --color-gray-300: #101010;
  --color-gray-500: rgba(255, 255, 255, 0.7);
  --color-gray-900: rgba(255, 255, 255, 0.15);
  --color-gray-400: rgba(255, 255, 255, 0.5);
  --color-gray-600: rgba(255, 255, 255, 0.6);
  --color-tomato-400: #eb4c28;
  --color-tomato-100: #cb4e28;
  --color-tomato-500: rgba(203, 78, 40, 0.4);
  --color-tomato-300: rgba(203, 78, 40, 0.1);
  --color-tomato-200: rgba(235, 76, 40, 0.58);
  --color-darkslategray: #2e2e2e;
  --color-dimgray: #616161;
  --color-mediumseagreen-100: #61d28f;
  --color-mediumseagreen-200: rgba(97, 210, 143, 0.2);
  --color-gainsboro-100: #d9d9d9;
  --color-lightgray: #d1d5db;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-41xl: 60px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-xl: 20px;
  --gap-22xl: 41px;
  --gap-20xl: 39px;
  --gap-lgi: 19px;
  --gap-21xl: 40px;
  --gap-3xs: 10px;
  --gap-61xl: 80px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-6xs: 7px;
  --gap-87xl: 106px;
  --gap-7xl: 26px;
  --gap-34xl: 53px;
  --gap-122xl: 141px;
  --gap-51xl: 70px;
  --gap-lg: 18px;
  --gap-2xl: 21px;
  --gap-186xl: 205px;
  --gap-136xl: 155px;
  --gap-132xl: 151px;
  --gap-151xl: 170px;
  --gap-157xl: 176px;
  --gap-495xl: 514px;
  --gap-238xl: 257px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-117xl: 136px;
  --gap-49xl: 68px;
  --gap-15xl: 34px;
  --gap-201xl: 220px;
  --gap-91xl: 110px;
  --gap-28xl: 47px;
  --gap-4xl: 23px;
  --gap-158xl: 177px;
  --gap-69xl: 88px;
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-19xl-7: 38.7px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-8xs: 5px;
  --gap-253xl: 272px;
  --gap-19xl: 38px;
  --gap-26xl: 45px;
  --gap-135xl: 154px;
  --gap-58xl: 77px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-42xl: 61px;
  --gap-48xl: 67px;
  --gap-40xl: 59px;
  --gap-10xl: 29px;
  --gap-167xl: 186px;
  --gap-74xl: 93px;
  --gap-27xl: 46px;
  --gap-185xl: 204px;
  --gap-83xl: 102px;
  --gap-32xl: 51px;
  --gap-64xl: 83px;
  --gap-18xl: 37px;
  --gap-21xl-2: 40.2px;
  --gap-77xl: 96px;
  --gap-29xl: 48px;
  --gap-5xl: 24px;
  --gap-2xs: 11px;
  --gap-xs: 12px;
  --gap-smi: 13px;
  --gap-11xs-3: 1.3px;
  --gap-sm-5: 13.5px;

  /* Paddings */
  --padding-8xs: 5px;
  --padding-12xs: 1px;
  --padding-xl: 20px;
  --padding-22xl: 41px;
  --padding-11xs: 2px;
  --padding-4xs: 9px;
  --padding-3xs: 10px;
  --padding-2xl: 21px;
  --padding-10xl: 29px;
  --padding-186xl: 205px;
  --padding-83xl: 102px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-72xl: 91px;
  --padding-6xs: 7px;
  --padding-48xl: 67px;
  --padding-167xl: 186px;
  --padding-49xl: 68px;
  --padding-74xl: 93px;
  --padding-10xs-5: 2.5px;
  --padding-29xl: 48px;
  --padding-50xl: 69px;
  --padding-35xl: 54px;
  --padding-8xl: 27px;
  --padding-27xl: 46px;
  --padding-41xl: 60px;
  --padding-18xl: 37px;
  --padding-101xl: 120px;
  --padding-16xl: 35px;
  --padding-3xl: 22px;
  --padding-43xl: 62px;
  --padding-sm: 14px;
  --padding-103xl: 122px;
  --padding-42xl: 61px;
  --padding-lg: 18px;
  --padding-xs: 12px;
  --padding-171xl: 190px;
  --padding-61xl: 80px;
  --padding-104xl: 123px;
  --padding-base: 16px;
  --padding-mini: 15px;
  --padding-56xl: 75px;
  --padding-30xl: 49px;
  --padding-13xl: 32px;
  --padding-45xl: 64px;
  --padding-26xl: 45px;
  --padding-46xl: 65px;
  --padding-138xl-2: 157.2px;
  --padding-25xl: 44px;
  --padding-17xl: 36px;
  --padding-57xl: 76px;
  --padding-19xl: 38px;
  --padding-33xl: 52px;
  --padding-113xl: 132px;
  --padding-199xl: 218px;
  --padding-198xl: 217px;
  --padding-89xl: 108px;
  --padding-90xl: 109px;
  --padding-102xl: 121px;
  --padding-60xl: 79px;
  --padding-125xl: 144px;
  --padding-53xl: 72px;
  --padding-208xl: 227px;
  --padding-285xl: 304px;
  --padding-133xl: 152px;
  --padding-94xl: 113px;
  --padding-37xl: 56px;
  --padding-2xs: 11px;
  --padding-71xl: 90px;
  --padding-38xl-5: 57.5px;
  --padding-14xl: 33px;
  --padding-6xl: 25px;
  --padding-4xl: 23px;
  --padding-52xl: 71px;
  --padding-9xs: 4px;
  --padding-10xs: 3px;
  --padding-397xl: 416px;
  --padding-251xl: 270px;
  --padding-21xl: 40px;
  --padding-426xl: 445px;
  --padding-270xl: 289px;
  --padding-79xl: 98px;
  --padding-smi: 13px;
  --padding-lgi: 19px;
  --padding-109xl: 128px;
  --padding-155xl: 174px;
  --padding-68xl: 87px;
  --padding-5xl: 24px;
  --padding-134xl: 153px;
  --padding-80xl: 99px;
  --padding-47xl: 66px;
  --padding-65xl: 84px;
  --padding-66xl: 85px;
  --padding-24xl: 43px;
  --padding-23xl: 42px;
  --padding-mid: 17px;
  --padding-39xl: 58px;
  --padding-448xl: 467px;
  --padding-214xl: 233px;
  --padding-97xl: 116px;
  --padding-85xl: 104px;
  --padding-86xl: 105px;
  --padding-36xl: 55px;
  --padding-7xl: 26px;
  --padding-96xl: 115px;
  --padding-77xl: 96px;
  --padding-44xl: 63px;
  --padding-51xl: 70px;
  --padding-129xl: 148px;
  --padding-55xl: 74px;
  --padding-3xs-2: 9.2px;
  --padding-8xl-3: 27.3px;
  --padding-105xl: 124px;
  --padding-3xs-1: 9.1px;
  --padding-8xl-6: 27.6px;
  --padding-108xl: 127px;
  --padding-268xl-6: 287.6px;
  --padding-110xl: 129px;
  --padding-234xl-4: 253.4px;
  --padding-164xl: 183px;
  --padding-168xl: 187px;
  --padding-146xl: 165px;
  --padding-31xl: 50px;
  --padding-159xl: 178px;
  --padding-73xl-3: 92.3px;
  --padding-215xl: 234px;
  --padding-32xl: 51px;
  --padding-292xl: 311px;
  --padding-136xl: 155px;
  --padding-58xl: 77px;
  --padding-282xl: 301px;
  --padding-403xl: 422px;
  --padding-192xl: 211px;
  --padding-131xl: 150px;
  --padding-27xl-5: 46.5px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-11xl: 30px;
}